<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xml:fb = "http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>RandTech Hackathon</title>
</head>
<body>
<%= form_for :"Address" do |f| %>
  <p>
    <%= f.label :"Enter Address:" %><br>
    <%= f.text_field :address %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>